{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "no-console": ["error", { "allow": ["warn", "error"] }]
  },
  "parser": "babel-eslint",
  "env": {
    "browser": true
  }
}